body{
  background: rosybrown;
  font: Arial, sans-serif;
}
.business-card{
  width: 300px;
  background: rgb(182, 125, 125);
  padding: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
}
.profile-image{
  max-width: 100%;
}
p{
  margin-top: 5px;
  margin-bottom: 5px;
}
a{
  text-decoration: none;
}